@import "const";

.navbar {
    background-color: #b04632;
}

th.gears {
    width: 100px;
}

.pagination {
    justify-content: center;
}

#wrapper{
    position: relative;
    min-height: 100vh;
    padding-bottom: 300px;/*←footerの高さ*/
    box-sizing: border-box;/*←全て含めてmin-height:100vhに*/

    @media (max-width: $breakpoint-md) {
        padding-bottom: 500px;/*←footerの高さ*/
    }
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}


.color-sample {
    border-radius: 3px;
    width: 50px;
    height: 50px;

    &.black {
        background-color: $bgBlack;
    }

    &.white {
        background-color: $bgWhite;
        border: #c6c6c6 solid 1px;
    }

    &.red {
        background-color: $bgRed;
    }

    &.blue {
        background-color: $bgBlue;
    }

    &.green {
        background-color: $bgGreen;
    }

    &.yellow {
        background-color: $bgYellow;
    }

    &.purple {
        background-color: $bgPurple;
    }

    &.brown {
        background-color: $bgBrown;
    }

    &.sb-2 {
        background: radial-gradient(gold, black);
    }

    &.sb-3 {
        background: radial-gradient(gold, orange 40%, black);
    }

    &.sb-cherry {
        background: radial-gradient(gold, crimson);

    }
}


/* AZMINDからコピペ */

.footer {
    padding: 30px 0;
    margin-top: 30px;
    text-align: left;
    color: #aaa;
}

.footer h3 {
    padding-bottom: 10px;
    color: #fff;
}

.footer-about img.logo-footer {
    max-width: 300px;
    margin-top: 0;
    margin-bottom: 18px;
}

.footer-about p a {
    border: 0;
}

.footer-about p a:hover, .footer-about p a:focus {
    border: 0;
}

.footer-links a {
    color: #aaa;
    border: 0;
}

.footer-links a:hover, .footer-links a:focus {
    color: #fff;
}

.footer-copyright {
    padding-top: 5px;
}

.footer-copyright a {
    color: #fff;
    border: 0;
}

.footer-copyright a:hover, .footer-copyright a:focus {
    color: #aaa;
    border: 0;
}
