
// 楽器の背景色
$bgRed: rgb(240, 100, 100);
$bgBlue: rgb(100, 100, 240);
$bgGreen: rgb(200, 255, 200);
$bgYellow: rgb(255, 255, 200);
$bgPurple: rgb(255, 200, 255);
$bgOrange: rgb(255, 223, 200);
$bgBrown: rgb(200, 166, 138);
$bgBlack: #373737;
$bgWhite: white;


th.gears {
    width: 100px;
}

.pagination {
    justify-content: center;
}


