// 楽器の背景色
$bgRed: rgb(240, 58, 67);
$bgBlue: rgb(79, 76, 240);
$bgGreen: rgb(53, 192, 62);
$bgYellow: rgb(255, 249, 79);
$bgPurple: rgb(190, 92, 255);
$bgOrange: rgb(255, 162, 87);
$bgBrown: rgb(200, 132, 80);
$bgBlack: #373737;
$bgWhite: white;

$breakpoint-sm: 576px !default;
$breakpoint-md: 768px !default;
$breakpoint-lg: 992px !default;
$breakpoint-xl: 1200px !default;
