// 楽器の背景色
$bgRed: rgb(235, 48, 63);
$bgBlue: rgb(70, 68, 195);
$bgGreen: rgb(48, 181, 57);
$bgYellow: rgb(237, 220, 0);
$bgPurple: rgb(140, 81, 194);
$bgWine: rgb(162, 13, 11);
$bgOrange: rgb(255, 162, 87);
$bgBrown: rgb(139, 91, 55);
$bgNatural: rgb(245, 213, 97);
$bgBlack: #373737;
$bgWhite: white;

$themeColor: #b04632;

$breakpoint-sm: 576px !default;
$breakpoint-md: 768px !default;
$breakpoint-lg: 992px !default;
$breakpoint-xl: 1200px !default;
