@import "const";


.selection-group input[type="radio"] {
    display: none;
}

/* 画像部分に余白を持たせる */
label img {
    margin: 3px;
    //padding: 8px;
}

/* 選択されたラジオボタンの画像の背景をオレンジ色に変える */
.selection-group input[type="radio"]:checked + label {
    img, div {
        border: solid 2px cornflowerblue;
    }
}

.color-sample {
    border-radius: 3px;
    width: 50px;
    height: 50px;

    &.black {
        background-color: $bgBlack;
    }

    &.white {
        background-color: $bgWhite;
    }

    &.red {
        background-color: $bgRed;
    }

    &.blue {
        background-color: $bgBlue;
    }

    &.green {
        background-color: $bgGreen;
    }

    &.yellow {
        background-color: $bgYellow;
    }

    &.purple {
        background-color: $bgPurple;
    }

    &.brown {
        background-color: $bgBrown;
    }

    &.sb-2 {
        //background: radial-gradient($bgOrange, $bgBlack);
        background: radial-gradient(gold, black);
    }

    &.sb-3 {
        background: radial-gradient(gold, orange 40%, black);
    }

    &.sb-cherry {
        background: radial-gradient(gold, crimson);

    }
}

.selection-group input[type="radio"]:checked + label div {
}
