@charset "UTF-8";

.selection-group input[type=radio] {
  display: none;
}

label img {
  margin: 3px;
}

/* 選択されたラジオボタンの画像に枠をつける */

.selection-group input[type=radio]:checked + label img,
.selection-group input[type=radio]:checked + label div {
  border: solid 2px cornflowerblue;
}

