* {
    margin:0; padding:0;
}
header {
    height: 50px;
    width: 100%;
    padding: 15px 0;
    background-color: gold;
    /*background: radial-gradient(#B49810, #101010);*/
    color: black;
}
header .headline{
    line-height: 100px;
    float: left;
    font-size: 30px;
    margin-left: 100px;
}
.nav-list {
    line-height: 100px;
    float: left;
    margin-left: 30px;
    list-style: none;
}
.nav-list-item {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}
